// Colors
$transparent: transparent;
$bg: #0C0D0E;
$dark-charcoal: #101214;
$super-dark-gray: #1A1A1A;
$dim-gray: #555555;
$light-gray: #BCB068;
$gray: #D1D1D1;
$accent: #F7F7F7;
$text: #CCCCCC;
$primary: #EFECE6;
$outline: #D1D1D1;
$gradient: #D0C7B3;
$gradient2: #968A73;
$gradient3: #675E4C;

// Typography
$letter-spacing-close: -3.5%;
$letter-spacing-base: -1%;

$line-height-base: 150%;

// Shadows
$box-shadow-shine: 0px 0px 58px 20px rgba(85, 85, 85, 0.20);
$box-shadow-bright: 0px 0px 58px 20px rgba(85, 85, 85, 0.35);
