// Variables for the project
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
// Colors
$transparent: transparent;
$bg: #0c0d0e;
$dark-charcoal: #101214;
$super-dark-gray: #1a1a1a;
$dim-gray: #555555;
$light-gray: #bcb068;
$gray: #d1d1d1;
$accent: #f7f7f7;
$text: #cccccc;
$primary: #efece6;
$outline: hsl(0, 0%, 82%);
$border-opacity: rgba(209, 209, 209, 0.26);
$gradient: #d0c7b3;
$gradient2: #968a73;
$gradient3: #675e4c;

// Typography
$letter-spacing-close: -3.5%;
$letter-spacing-base: -1%;

$line-height-base: 150%;
$line-height-close: 96%;

// Shadows
$box-shadow-shine: 0px 0px 58px 20px rgba(85, 85, 85, 0.2);
$box-shadow-bright: 0px 0px 58px 20px rgba(85, 85, 85, 0.35);
